/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a, button {
    all: unset;
    cursor: pointer;
}

img {
    max-width: 100%;
}

body{
    font-family: "PT Sans", sans-serif;
}

/* COMMON */
.container {
    width: 90%;
    margin: 0 auto;
}


.btn {
    border-radius: 20px;
    padding: 10px 20px;
}

.card {
    border: 1px solid black;
    border-radius: 25px;
    padding: 1em;
}

/* UTILITIES */

:root {
    --blue-color: #0084fd;
    --violet-color: #9792e4;
    --blue-card-color: #b5ddff;
    --header-height: 5rem;
    --gap-flex: 1.2em;
    --container-width: 80%;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.gap {
    gap: var(--gap-flex);
}

.blue {
    background-color: var(--blue-card-color) ;
}

.violet {
    background-color: var(--violet-color);
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: #333333;
    color: white;
}

.pd-section {
    padding: 2em 0;
}

.text-center {
    text-align: center;
}
/*=============
 DEBUG 
==============*/

.blue-card .card {
    height: 100px;
}

/* HEADER */
header {
    background-color: var(--blue-color);
    height: var(--header-height);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}

header nav {
    display: none;
}

.menu-btn {
    padding: 10px;
}

.nav-btn {
    padding: 5px 10px;
    color: black;
}

@media screen and (min-width:992px) {

    header .container {
        width: var(--container-width);
        padding: 0;
    }

    .menu-btn {
        display: none;
    }

    header nav {
        display: block;
    }
    
}

/* blue-card */

.blue-card {
    margin-top: var(--header-height);

}

@media screen and  (min-width: 768px) {

    .blue-card {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .blue-card .card {
        width: calc(100% / 3 - var(--gap-flex) * 2);
    }

    .blue-card .big-card {
        width: calc(100% / 3 * 2 - var(--gap-flex));
    }
}

/* strategic-planning */



.strategic-planning .card-left img,
.strategic-planning .card-left h2 {
    padding: 1.2em 0;
}

.strategic-planning .white  h4 {
    padding: 1.2em 0;
}


.strategic-planning .icon {
    margin-top: 20px;
    width: 1.5em;
    aspect-ratio: 1;
    border-radius: 50%;
    color: black;
    background-color: var(--violet-color);
    font-size: 2rem;
}

@media screen and (min-width: 992px) {

    .strategic-planning div.container {
        flex-direction: row;
        align-items: end;
        width: 70%;
        gap: 40px;
    }

    .strategic-planning div.container div:not(.icon, .img) {
        width: 50%;
    }

    .strategic-planning .white  img {
        width: 70%;
    }

}

/* testimonials */

.photo {
    max-width: 70%; 
}

.photo img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}


.description p {
    padding: 20px 0;
}

@media screen and (min-width: 768px) {
    .testimonials .card {
        flex-direction: row;
    } 
    
    .testimonials .description {
        padding: 0px 20px;
    }
}

@media screen and (min-width: 992px) {
    .testimonials {
        width: 80%;
    }
}

/* benefits */

@media screen and (min-width: 768px) {


    .benefits .card {
        width: calc(100% / 2 - var(--gap-flex) )
    }

    .benefits .flex {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 992px) {

    .benefits .card {
        width: calc(100% / 3 - var(--gap-flex) * 2)
    }

    .benefits .container {
        width: 80%;
    }
}

/* about-us */

.about-us h2, .about-us p {
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .about-us .container {
        width: 85%;
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {
    .about-us .container {
        width: 75%;
        flex-direction: row;
    }
}

/* get-started */

@media screen and (min-width: 768px) {

    .get-started h3 {
        width: 65%;
    }

    .get-started div.text-center {
        width: 60%;
    }
    
}

@media screen and (min-width: 992px) {

    .get-started h3 {
        width: 45%;
    }

    .get-started div.text-center {
        width: 40%;
    }
    
}

/* footer */

@media screen and (min-width: 768px) {
    footer .container {
        width: 60%;
    }
    
}

@media screen and (min-width: 992px) {
    footer .container {
        width: 40%;
    }
    
}